@model ExpressVoitures.Models.Marge


<div class="container-sm mx-auto">
<h2 class="mt-4">Modifier la Marge</h2>

    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                </div>
            <span asp-validation-for="Value" class="text-danger"></span>

            </div>
                <div class="form-group mt-1">
                    <input type="submit" value="Valider" class="btn btn-outline-success" />
                </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
