@model ExpressVoitures.Models.Marge

@{
    ViewData["Title"] = "Index";
}
<div class="container-sm mx-auto">
<h2 class="mt-4">Marge</h2>
<p>La marge actuelle est : @Model.Value €</p>

<div>
    <a class="btn btn-outline-info" asp-controller="Voitures" asp-action="Index">retour à la liste des voitures</a> |
    <a class="btn btn-outline-warning" asp-controller="Marges" asp-action="Edit" asp-route-id="@Model.Id">Modifier la marge</a>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}