@{
    ViewData["Title"] = "Home Page";
}

@* Image Accueil *@
<div class="mb-5">
    <img src="images/Photo5.jpg" class="img-fluid" alt="Photo1">
</div>

@*  Image de voiture accueil *@
<div class="container-sm">
    <div class="col text-end">
         <img src="images/Photo1.jpg" class="img-fluid" alt="Photo1">
     </div>
    <div class="col text-start">
         <img src="images/Photo3.jpg" class="img-fluid" alt="Photo3">
     </div>
    <div class="col text-end">
         <img src="images/Photo2.jpg" class="img-fluid" alt="Photo2">
     </div>
</div>
@* Logo pour monter la page *@
    <div class="text-end me-5">
        <a href="#top" class="btn btn-outline-dark sticky-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
        </svg>
        </a>
    </div>

<div class="mt-5 mb-5">   
        <p class="text-center h4">Restons en Contact !</p> 
            <p class="text-center h4">N'hésitez pas à nous contacter, nous reviendrons vers vous rapidement .</p>   
</div>