@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-xxl text-center">

@* Image de la page Mentions légales *@

    <img src="/images/Photo4.jpg" class="img-fluid mb-5" alt="Photo4">


    @* Mentions légales *@
    <div class="container-fluid mt-5 mx-auto">
        <div class="row">
            <div class="col-6 mb-5">
                <h4>Contact</h4>
                <p>Une question ? Nous sommes la pour y répondre <a href="mailto:paqueriaudxavier@gmail.com" 
                    class="text-decoration-none text-danger">Contactez-moi !</a></p>
            </div>

            <div class="col-6 mb-5">
                <h4>Ce site est</h4>
                <p>Un prototype du site Express Voitures</p>
            </div>

            <div class="col-6 mb-5">
                <h4>Réalisé par:</h4>
                <p>Paqueriaud Xavier, 1 rue Jean Bart 11 110 Coursan</p>
            </div>

            <div class="col-6 mb-5">
                <h4>Et avec l'aide</h4>
                <p>Menthor: El Hadji Ousmane Diallo </p>
            </div>
        </div>
    </div>
    @* Logo pour monter la page *@
    <div class="text-end me-5">
        <a href="#top" class="btn btn-outline-dark sticky-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
            </svg>
        </a>
    </div>
</div>
