@model ExpressVoitures.Models.Annonce

@{
    ViewData["Title"] = "Create";
}

<h4>Créer une Annonce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitreAnnonce" class="control-label"></label>
                <input asp-for="TitreAnnonce" class="form-control" />
                <span asp-validation-for="TitreAnnonce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionAnnonce" class="control-label"></label>
                <input asp-for="DescriptionAnnonce" class="form-control" />
                <span asp-validation-for="DescriptionAnnonce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoitureImages" class="control-label"></label>
                <input type="file" asp-for="VoitureImages" class="form-control" />
                <span asp-validation-for="VoitureImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Index">Retour à l'annonce</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
