@model ExpressVoitures.Models.Reparation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reparation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-idVoiture=@Model.IdVoiture>
            <input type="hidden" name="idVoiture" value="@ViewData["idVoiture"]" />
            <input type="hidden" name="idAnnonce" value="@ViewData["idAnnonce"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeDeReparation" class="control-label"></label>
                <input asp-for="TypeDeReparation" class="form-control" />
                <span asp-validation-for="TypeDeReparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoutsReparation" class="control-label"></label>
                <input asp-for="CoutsReparation" class="form-control" />
                <span asp-validation-for="CoutsReparation" class="text-danger"></span>
            </div>
            <div class="form-group mt-1" asp-route-idVoiture=@Model.IdVoiture>
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div class="mt-1">
    <a class="btn btn-outline-info" asp-action="Index" asp-route-idVoiture=@Model.IdVoiture>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
