@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<header>
    <h1 class="text-danger text-center mt-5">@ViewData["Title"]</h1>
    <h4 class="text-danger text-center">Vous n’avez pas accès à cette ressource.</h4>
</header>
