@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "S'inscrire";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Vous vous êtes authentifié avec <strong>succès avec @Model.ProviderDisplayName</strong>.
    Veuillez entrer une adresse e-mail pour ce site ci-dessous et cliquez sur le bouton S’inscrire pour terminer
    Se connecter.
</p>

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Veuillez saisir votre adresse e-mail." />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">S'Inscrire'</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
