@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation d’un mot de passe oublié";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Veuillez vérifier vos e-mails pour réinitialiser votre mot de passe.
</p>
