@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Vérification du code de récupération";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<p>
    Vous avez demandé à vous connecter avec un code de récupération. Cette connexion ne sera pas mémorisée tant que vous n’aurez pas fourni
    un code d’application d’authentification lors de la connexion ou désactivez l’authentification à 2 facteurs et reconnectez-vous.
</p>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Code de récupération" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn btn-outline-success">S'identifier</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}