@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation de l’inscription";
}

<h1 class="text-center">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Cette application n’a actuellement pas d’expéditeur d’e-mail réel enregistré, voir<a href="https://aka.ms/aspaccountconf">Ces documents</a> pour savoir comment configurer un véritable expéditeur d’e-mail.
            Normalement, cela devrait être envoyé par e-mail : <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer votre compte</a>
</p>
    }
    else
    {
<p>
            Veuillez vérifier votre e-mail pour confirmer votre compte.
</p>
    }
}

