@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur s’est produite lors du traitement de votre demande.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mode de développement</h3>
<p>
    Passer à <strong>Développement</strong> l’environnement affichera des informations plus détaillées sur l’erreur qui s’est produite.
</p>
<p>
    <strong>L’environnement de développement ne doit pas être activé dans les applications déployées</strong>, car cela peut entraîner l’affichage d’informations sensibles provenant d’exceptions pour les utilisateurs finaux. Pour le débogage local, l’environnement de développement peut être activé en définissant l’attribut <strong>ASPNETCORE_ENVIRONMENT</strong> variable d’environnement à<strong>Développement</strong>, et redémarrer l’application.
</p>
