@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Authentification à deux facteurs (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="text-center">@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Vous n’avez plus de codes de récupération.</strong>
                    <p>Il le faut <a asp-page="./GenerateRecoveryCodes">Générer un nouvel ensemble de codes de récupération</a> avant de pouvoir vous connecter avec un code de récupération.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>You have 1 recovery code left.</strong>
                    <p>Vous pouvez <a asp-page="./GenerateRecoveryCodes">Générer un nouvel ensemble de codes de récupération</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Vous avez @Model.RecoveryCodesLeft codes de récupération restants.</strong>
                    <p>Tu devrais <a asp-page="./GenerateRecoveryCodes">générer un nouvel ensemble de codes de récupération</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-outline-success">Oubliez ce navigateur</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-outline-success">Désactiver 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-outline-success">Réinitialiser les codes de récupération</a>
        }

        <h4 class="text-center">Application d’authentification</h4>
        <div class="container-fluide text-center mt-5">
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-outline-success">Ajouter une application d’authentification</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-outline-success">Configurer l’application d’authentification</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-outline-warning">Réinitialiser l’application d’authentification</a>
        }
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>La politique de confidentialité et de cookies n’a pas été acceptée.</strong>
            <p>Vous devez accepter la stratégie avant de pouvoir activer l’authentification à deux facteurs.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
